* {
    margin: 0px;
    padding: 0px;
}

p,
a,
ol,
ul,
li {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
}

.bodyIndex {
    background-image: url("../img/dark_knight_background_5b.jpg");
    background-color: rgb(0, 0, 0);
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100%; */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body,
html {
    height: 100%
}

body {
    line-height: 2;
}

.bodyTrailer {
    background: black;
}

h1 {
    font-weight: 300;
    font-size: 6rem;
    color: white;
}

#title,
#searchField {
    margin-bottom: 45px;
}

#searchButton,
#searchField,
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#searchField {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

#searchField>input,
#searchField>select {
    margin: 1rem;
    background: rgba(255, 255, 255, 0.9);
}

form button {
    background: rgba(0, 0, 0, 0.9);
    color: white;
    margin: auto;
    font-size: 2rem;
    border: none;
    padding: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.navbar {
    border-radius: 0px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    border: none;
    -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: rgb(33, 150, 233);
}

#mainContent {
    background: rgba(33, 150, 233, 0.5);
    color: white;
}


/* #mainContent h2 {
    font-size: 2.5vmax;
}

#mainContent p {
    font-size: 1.2vmax;
} */

#videoContent {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
}

#videoContent .fa {
    font-size: 50px;
}

#videoContent h2 {
    color: white;
}

.arrow {
    font-size: 200px;
    color: #D86917;
}

#navigation {
    padding-top: 5px;
    padding-bottom: 5px;
}

#contentDetail .fa {
    font-size: 20px;
    color: #D86917;
}

#footerTrailer {
    background: white;
}

#footerTrailer a {
    text-decoration: none;
    color: black;
    font-weight: 900;
}

#footerTrailerContent p {
    margin-bottom: 5px;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-top-width: 0px;
    border-top-style: solid;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    padding-left: 5px;
    font-weight: bold;
    color: black;
}

#footerTrailerContent {
    border-left: 0.1px dotted black;
}

#footerTrailerContent span {
    font-weight: 400;
    font-size: 14px;
}

.movieSmallDetails {
    font-weight: bold;
}

.card {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 30px 10px;
    position: relative;
}

.card:hover {
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.text {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
}

.card:hover .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    filter: grayscale(70%);
}

.black {
    background: rgba(0, 0, 0, 0.95);
    margin-top: 35px;
    margin-bottom: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#tmdb {
    background: black;
    margin-top: 15px;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    #searchField {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    #searchField>input,
    #searchField>select {
        width: 400px;
    }
}